schema/JATS/1.3d1/Pumpkin/rng/JATS-articleauthoring1-mathml3.rng

<?xml version="1.0" encoding="UTF-8"?>
<!-- ============================================================= -->
<!-- MODULE:    Article Authoring DTD -->
<!-- VERSION:   ANSI/NISO JATS Version 1.3d1 (Z39.96-2019) -->
<!-- DATE:      August 2019 -->
<!---->
<!-- ============================================================= -->
<!-- ============================================================= -->
<!-- PUBLIC DOCUMENT TYPE DEFINITION -->
<!-- TYPICAL INVOCATION -->
<!--
  "-//NLM//DTD JATS (Z39.96) Article Authoring DTD with MathML3 v1.3d1 20190831//EN"
       Delivered as file "JATS-articleauthoring1-mathml3.dtd"
       Available at:
       http://jats.nlm.nih.gov/articleauthoring/1.3d1/JATS-articleauthoring1.dtd
-->
<!-- ============================================================= -->
<!-- ============================================================= -->
<!-- SYSTEM:     Article Authoring DTD of the JATS DTD Suite -->
<!---->
<!-- PURPOSE:    DTD for creation of new journal articles -->
<!---->
<!-- The Article Authoring DTD is an application of -->
<!-- the ANSI/NISO Z39.96 Article Authoring Tag Set. -->
<!-- It is a subset of the Journal Archiving and -->
<!-- Interchange DTD that is optimized for the -->
<!-- authoring (or initial XML tagging) of journal -->
<!-- articles and some non-article material such as -->
<!-- product and book reviews. It describes both the -->
<!-- metadata for a journal article and the full -->
<!-- content of the article. -->
<!---->
<!-- This DTD was constructed using the modules in the -->
<!-- JATS DTD Suite. -->
<!---->
<!-- TAG SET SPONSOR -->
<!-- National Center for Biotechnology -->
<!-- Information (NCBI) -->
<!-- National Library of Medicine (NLM) -->
<!---->
<!-- CREATED FOR: -->
<!-- This DTD was created from the JATS DTD Suite. -->
<!-- Authors, digital archives, and publishers may -->
<!-- use the DTD as is for markup of journal -->
<!-- literature or related material for archiving -->
<!-- and transferring such material between archives -->
<!-- or create a custom XML DTD from the Suite for -->
<!-- these purposes. -->
<!---->
<!-- This DTD is in the public domain. An organization -->
<!-- that wishes to create its own DTD from the suite -->
<!-- may do so without permission from NLM. -->
<!---->
<!-- The suite has been set up to be extended using a -->
<!-- new DTD file and a new DTD-specific customization -->
<!-- module to redefine the many Parameter Entities. -->
<!-- Do not modify the suite directly or redistribute -->
<!-- modified versions of the suite. -->
<!---->
<!-- In the interest of maintaining consistency and -->
<!-- clarity for potential users, NLM requests: -->
<!---->
<!-- 1. If you create a DTD from the JATS DTD Suite -->
<!-- and intend to stay compatible with the suite, -->
<!-- then please include the following statement -->
<!-- as a comment in all of your DTD modules: -->
<!-- "Created from, and fully compatible with, -->
<!-- the ANSI/NISO Z39.96 Journal Article Tag -->
<!-- Suite (JATS)." -->
<!---->
<!-- 2. If you alter one or more modules of the suite, -->
<!-- then please rename your version and all its -->
<!-- modules to avoid any confusion with the -->
<!-- original suite. Also, please include the -->
<!-- following statement as a comment in all your -->
<!-- DTD modules: -->
<!-- "Based in part on, but not fully compatible -->
<!-- with, the ANSI/NISO Z39.96 Journal Article -->
<!-- Tag Suite (JATS)." -->
<!---->
<!-- ORIGINAL CREATION DATE: -->
<!-- June 2005 -->
<!---->
<!-- CREATED BY: Mulberry Technologies, Inc. for the NISO Z39.96 -->
<!-- Working Group. Mulberry Technologies was -->
<!-- supported by National Center for Biotechnology -->
<!-- Information (NCBI), a center of the US National -->
<!-- Library of Medicine (NLM). -->
<!---->
<!-- The Article Authoring DTD is built from the -->
<!-- Archiving and Interchange DTD Suite. -->
<!---->
<!-- Suggestions for refinements and enhancements to -->
<!-- this DTD should be sent in email to: -->
<!-- jats@ncbi.nlm.nih.gov -->
<!-- ============================================================= -->
<!-- ============================================================= -->
<!-- DTD VERSION\CHANGE HISTORY -->
<!-- ============================================================= -->
<!--
  
  Version  Reason/Occasion                   (who) vx.x (yyyy-mm-dd)
     ==============================================================
       JATS Version 1.3d1 (ANSI/NISO Z39.96-2019)
                                     (DAL/BTU) v1.3.d1 (2019-08-31)
  
       ANSI NISO JATS is a continuing maintenance NISO Standard, 
       which requires voting by the NISO and ANSI memberships 
       to be changed. 
  
       This draft DTD represents an interim version of the
       non-normative JATS DTD Suite, as an indication to JATS users
       of the decisions that have been made by the JATS Standing
       Committee. This draft has not yet been given public review 
       or voting. The formal public identifiers were changed in the 
       modules and the catalogs.
  
   38. QUESTION AND ANSWER MODULES - Added call to BITS question
       and answer module names question-answer ent
  
   26. JATS "1.2" becomes "v1.3d1 20190831" (first committee
       draft following the final ANSI/NISO vote) 
  
     ==============================================================
       JATS Version 1.2 (ANSI/NISO Z39.96-2019)
                                     (DAL/BTU) v1.2     (2019-02-08)
  
       NISO JATS is a continuing maintenance NISO Standard, which 
       requires voting by the both the NISO and ANSI membership 
       to be changed. This version of the NISO JATS was approved 
       by ANSI vote on Feb 08, 2019, so it supersedes all Committee 
       Drafts as well as the draft version JATS 1.2 2018 (the version
       submitted for vote), becoming NISO JATS v1.2 20190208 
       (ANSI/NISO Z39.96-2019).
  
   25. JATS "1.2" becomes "v1.2 20190208" (final ANSI vote date)
       "ANSI/NISO Z39.96-2015" becomes "ANSI/NISO Z39.96-2019"
  
  ==============================================================
       JATS Version 1.2 (ANSI/NISO Z39.96-2018)
       and BITS 2.1 (v2.0 20180401)
                                     (DAL/BTU) v1.2     (2018-11-30)
  
       NISO JATS is a continuing maintenance NISO Standard, which 
       requires voting by the both the NISO and ANSI membership 
       to be changed. This version of the NISO JATS was approved 
       by ANSI and NISO vote, so it supersedes all Committee Drafts
       and becoming NISO JATS 1.2 (ANSI/NISO Z39.96-2018).
  
   24. @dtd-version becomes "1.2d" from "1.2d2"
  
   23. BITS "2.1" and "v2.0 20180401" remains unchanged.
       JATS "1.2d2" and "v1.2d2 20180401" became
       JATS "1.2" and "v1.2 20181130" 
  
      =============================================================
       BITS Version 2.1                (DAL/BTU) v2.1    (2018-04-01)
       JATS Version 1.2d2              (DAL/BTU) v1.2d2  (2018-04-01)
  
       JATS is a continuing maintenance NISO Standard, which
       requires voting by the ANSI and NISO memberships to be changed. 
       BITS is under continuous maintenance, and is modified at the
       discretion of the working group.
  
       This draft DTD represents an interim version of the
       non-normative JATS DTD Suite, as an indication to JATS users
       the decisions that have been made by the JATS Standing
       Committee. This draft has not yet been given public review 
       or voting. The formal public identifiers were changed in the 
       modules and the catalogs.
  
   22. INLINE INDEX TERMS  - Added invocation to BITS inline
       (embedded) index term model
  
   21. @dtd-version becomes "1.2d2" from "1.2d1"
  
   20. BITS "2.0" and "v2.0 20151225" became
       BITS "2.1" and "v2.1 20180401". 
  
       JATS "1.2d1" and "v1.2d1 20171231" became
       JATS "1.2d2" and "v1.2d2 20180401". 
  
       No module names were changed.
  
      =============================================================
       JATS Version 1.2d1 (ANSI/NISO Z39.96-2015)
                                     (DAL/BTU) v1.2d1  (2017-12-31)
  
       NISO JATS is a continuing maintenance NISO Standard, which
       requires voting by the ANSI and NISO memberships to be changed. 
  
       This draft DTD represents an interim version of the
       non-normative JATS DTD Suite, as an indication to JATS users
       the decisions that have been made by the JATS Standing
       Committee. This draft has not yet been given public review 
       or voting. The formal public identifiers were changed in the 
       modules and the catalogs.
  
   19. JATS "1.2d1" and "v1.2d1 20170631" became
       JATS "1.2d1" and "v1.2d1 20171231". 
  
      =============================================================
       JATS Version 1.2d1              (DAL/BTU) v1.2d1  (2017-06-31)
  
       NISO JATS is a continuing maintenance NISO Standard, which
       requires voting by the ANSI and NISO memberships to be changed. 
  
       This draft DTD represents an interim version of the
       non-normative JATS DTD Suite, as an indication to JATS users
       the decisions that have been made by the JATS Standing
       Committee. This draft has not yet been given public review 
       or voting. The formal public identifiers were changed in the 
       modules and the catalogs.
  
   18. xsi:noNamespaceSchemaLocation added to attribute list of
       <article>. Most modern processors do not need this, but
       a user with an older processor requested it, so the JATS
       Standing Committee acquiesced. This pseudo-attribute
       cannot be used with a DOCTYPE declaration.
  
   17. @dtd-version becomes "1.2d1" from 1.1
  
   16. JATS became version "1.2d1" and "v1.2d1 20170631" 
  
      =============================================================
       JATS Version 1.1                (DAL/BTU) v1.1  (2015-12-15)
  
       JATS is a continuing maintenance NISO Standard, which
       requires voting by the ANSI and NISO memberships to be changed. 
       JATS 1.1 was approved in late 2015, so the formal public 
       identifiers were changed in the modules and the catalogs.
       No model or attribute changes were made at this time. 
  
   15. JATS became version "1.1" and "v1.1 20151215"
  
       =============================================================
       JATS Version 1.1d3             (DAL/BTU) v1.1d3  (2015-03-01)
  
       The changes in this release are in response to NISO 
       License and Indicators Recommended Practice.
  
       NISO JATS is a continuing maintenance NISO Standard, which 
       requires voting by the NISO membership to be changed. This
       Committee Draft 1.1d3 will be sent to the NISO voting
       membership, to become (if approved) NISO JATS 1.1.
  
       This draft DTD represents an interim version of the
       non-normative JATS DTD Suite, as an indication to JATS users
       the decisions that have been made by the JATS Standing
       Committee.
  
   14. ALI - Added ALI namespace for NISO Access and Indicator 
       license reference and free to read elements.
  
   13. JATS became version "1.1d3" and "v1.1d3 20150301"
  
       =============================================================
       JATS Version 1.1d2             (DAL/BTU) v1.1d2  (2014-09-30)
  
       NISO JATS is a continuing maintenance NISO Standard, which 
       requires voting by the NISO membership to be changed. This
       Committee Draft 1.1d2 will be sent to the NISO voting
       membership, to become (if approved) NISO JATS 1.1.
  
       This catalog represents an interim version of the
       non-normative JATS DTD Suite, as an indication to JATS users
       the decisions that have been made by the JATS Standing
       Committee.
  
   12. JATS became version "1.1d2" and "v1.1d2 20140930//EN"
  
       =============================================================
       NISO JATS Version 1.1d1           (DAL/BTU) v1.1 (2013-11-15)
  
       ANSI/NISO Z39.96-2012 (pre-release for V1.0 BITS; Version 1.1d1) 
  
       NISO JATS Standing Committee met and answered the requests and
       suggestions from the NISO request forms.
  
       Details concerning ANSI/NISO Z39.96-2012 JATS-based DTDs,  
       XSDs, RNGs and supporting documentation are available at
             http://jats.nlm.nih.gov/1.0/
  
   11. MATHML 3.0 - Created a new version of the Authoring DTD to
       take MathML 3.0 instead of MathML 2.0.
       Nothing else changed from regular Authoring DTD.
       Call to MathML setup module changed and added call to the
       specific MathML 3.0 modules.
  
   10. DTD Version - Updated the DTD-version attribute to "1.1d1" and 
       the formal public identifier to the date: "v1.1d1 20130915//EN".
  
    9. GLOBAL ATTRIBUTES - Added the new module for Common (global)
       attributes: %JATS-common-atts.ent;, called in before the
       customizations models module.
  
    8. GLOBAL ATTRIBUTES - Added the new parameter entity 
           %jats-common-atts;
       to every element in this module. This PE adds (for now) the
       @id attribute and the @xml:base attribute to every element,
       whether metadata or narrative.
       Since the @id in this parameter entity is optional, a second
       parameter entity jats-common-atts-id-required was also added.
       The two are kept in sync with the jats-base-atts parameter 
       entity.
       This added a new attribute list to:
        - back
        - body
        - front
  
       =============================================================
       NISO JATS Version 1.0             (DAL/BTU) v1.0 (2012-xx-xx)
  
       ANSI/NISO Z39.96-2012 (Version 1.0) 
  
       Details concerning ANSI/NISO Z39.96-2012 JATS-based DTDs,  
       XSDs, RNGs and supporting documentation are available at
             http://jats.nlm.nih.gov/1.0/
  
    7. Fixed content models that were stated as "P*" and "sec*"
       to use the %just-para.class; and %sec.class; classes. 
       Element models that were changed include:
        - back
  
       =============================================================
       Version 0.4                       (DAL/BTU) v0.4 (2011-01-31)
  
       This Tag Set is in the process of becoming a NISO standard.
       The version numbers are starting over from 0.4", as a Trial
       Use Draft, to be made into "Version 1.0" when the Tag Suite 
       becomes a NISO standard. Thus, the version number that would
       have been "NLM Version 3.1 Draft" has become NISO JATS
       "Version 0.4".
  
       Details on NISO Trial Use Draft Version 0.4 are available at
             http://jats.nlm.nih.gov/JATS-0.4.
  
    6. Updated the DTD-version attribute to "0.4" 
  
    5. Updated the public identifier to "v0.4 20110131", 
       modified the formal public identifier to include "JATS (Z39.96)",
       and the filename as delivered to include "JATS" and the
       new version number "0".
             http://jats.nlm.nih.gov/0.4.
  
    4. XML:LANG - Added @xml:lang to the following elements:
       Added to facilitate multiple languages.
         - article
  
    3. LANGUAGE CODES - Codes for languages as well as variants,
       transliterations, regions, scripts, and combinations
       such as "Jpan"(Han + Hiragana + Katakana). These values should be
       taken from RFC 5646/W3C/IANA Subtag Registry recommendations
       and can be found online at:
         http://www.iana.org/assignments/language-subtag-registry
  
       =============================================================
       Version 3.0                       (DAL/BTU) v3.0 (2007-10-31)
  
       Version 3.0 is the first non-backward-compatible release.
       In addition to the usual incremental changes, some
       elements and attributes have been renamed and/or remodeled
       to better meet user needs and to increase tag set consistency.
       All module change histories are available through the Tag Suite
       web site at http://dtd.nlm.nih.gov.
  
       Details on version 3.0 are available at
             http://dtd.nlm.nih.gov/3.0.
  
    2. Changed default @xml:lang from "EN" from "en" to match latest
       RFC 4646/W3C/IANA Subtag Registry recommendations
  
    1. Updated public identifier to "v3.0 20071031//EN"
-->
<!-- ============================================================= -->
<!--
  Details concerning 
  ANSI/NISO Z39.96-2015 JATS-based DTDs, XSDs, 
  RNGs and supporting documentation are available at
        http://jats.nlm.nih.gov/1.1/
-->
<!-- ============================================================= -->
<!-- DESIGN CONSIDERATIONS -->
<!-- ============================================================= -->
<!--
  MODULAR DTD LIBRARY
  A set of journal archiving and interchange
  DTD modules was written as the basis for
  article creation, publishing, interchange,
  and repository DTDs, with the intention that
  DTDs for specific purposes, such as this
  Authoring  DTD, would be developed based on
  them.
  
  This Authoring DTD has been optimized for
  the creation of new journal articles by
  individual authors. This means that it lacks
  all the journal-related material (such as
  the journal metadata) that are not the
  responsibility of the author but of the
  publisher. This DTD is also smaller (fewer
  elements and fewer choices in many contexts)
  than either the Publishing or Archiving DTDs.
  It was not the intention to limit the
  expressive power licensed by the DTD, but
  rather to limit the many paths where there
  are several ways to tag the same material,
  where an archiving or publishing DTD needs to
  be able to accept all styles.
-->
<!-- ============================================================= -->
<!-- MODULE OF MODULES INVOKED -->
<!-- ============================================================= -->
<!-- MODULE TO NAME DTD-SPECIFIC MODULES -->
<!-- Names all DTD-specific external modules -->
<!-- MODULE TO NAME THE MATHML 3.0 MODULES -->
<!-- Names all DTD-specific external modules -->
<!-- MODULE TO NAME THE MODULES -->
<!--
  Names all the external modules (except
  itself and the Customization Module) that
  are part of the modular JATS DTD Suite 
  library.
     This DTD then selects from those
  modules by referencing the external
  Parameter Entities defined in the Module of
  Modules. To include a set of elements (such
  as all the lists or the table elements) this
  DTD references the external Parameter Entity
  of the module that contains the declarations.
-->
<!-- ============================================================= -->
<!-- NISO ALI NAMESPACE SETUP -->
<!-- ============================================================= -->
<!-- DEFINE ALI NAMESPACE ATTRIBUTE AND PREFIX -->
<!--
  Names the module defines the NISO Access and 
  Indicators Exchange Model namespace, prefix, 
  and pseudo-attribute @xmlns.
-->
<grammar xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <start>
    <ref name="article"/>
  </start>
  
  <include href="JATS-ali-namespace1.ent.rng"/>
  <!-- ============================================================= -->
  <!-- SET UP COMMON (ALL ELEMENT) ATTRIBUTES -->
  <!-- ============================================================= -->
  <!-- COMMON ATTRIBUTES MODULE -->
  <!--
    Set up the common attributes, those used on
    nearly all elements.
    Must be called before the custom models
    module.
  -->
  <include href="JATS-common-atts1.ent.rng"/>
  <!-- ============================================================= -->
  <!-- CUSTOMIZATION MODULES INVOKED -->
  <!-- Note: These modules must be called after -->
  <!-- all Module of Modules but before any other -->
  <!-- modules. Unlike any other grouping, order -->
  <!-- of these modules matters. -->
  <!-- ============================================================= -->
  <!-- DTD-SPECIFIC CLASS CUSTOMIZATIONS MODULE -->
  <!--
    Names the module that holds the DTD-specific
    class definitions for the Article Authoring
    DTD that will over-ride the Suite defaults.
    (Defined in %articleauthcustom-modules.ent; )
  -->
  <include href="JATS-articleauthcustom-classes1.ent.rng"/>
  <!-- DEFAULT ELEMENT CLASSES MODULE -->
  <!--
    Names the module that holds the standard
    class definitions for the JATS DTD Suite.
  -->
  <include href="JATS-default-classes1.ent.rng"/>
  <!-- DTD-SPECIFIC MIX CUSTOMIZATIONS MODULE -->
  <!--
    Set up the Parameter Entities and element
    class definitions that will be used to
    over-ride some element mixes in this DTD.
    (Defined in %articleauthcustom-modules.ent;)  
  -->
  <include href="JATS-articleauthcustom-mixes1.ent.rng"/>
  <!-- DEFAULT MIX CUSTOMIZATIONS MODULE -->
  <!--
    Names the module that holds the standard
    mix definitions for the JATS DTD Suite.
  -->
  <include href="JATS-default-mixes1.ent.rng"/>
  <!--
    DTD-SPECIFIC MODELS/ATTRIBUTES CUSTOMIZATIONS
    MODULE
  -->
  <!--
    Names the module that holds the over-rides
    of content models, attribute lists, elements
    lists to be used in content models, and
    attribute values. These are DTD-specific.
    (Defined in %articleauthcustom-modules.ent; )  
  -->
  <include href="JATS-articleauthcustom-models1.ent.rng"/>
  <!-- ============================================================= -->
  <!-- COMMON (SHARED) ELEMENTS MODULE INVOKED -->
  <!-- ============================================================= -->
  <!-- COMMON (SHARED) DECLARATIONS -->
  <!--
    Declarations for elements, attributes,
    entities, and Notations that are shared by
    more than one class module. Note: Must be
    called before any of the class modules.
  -->
  <include href="JATS-common1.ent.rng"/>
  <!-- ============================================================= -->
  <!-- JOURNAL ARTICLE CLASS ELEMENTS (alpha) -->
  <!-- ============================================================= -->
  <!-- ARTICLE METADATA ELEMENTS -->
  <include href="JATS-articlemeta1.ent.rng"/>
  <!-- BACK MATTER ELEMENTS -->
  <include href="JATS-backmatter1.ent.rng"/>
  <!-- DISPLAY (GRAPHICAL) ELEMENTS -->
  <include href="JATS-display1.ent.rng"/>
  <!-- FORMATTING ELEMENTS -->
  <!-- Elements that change rendition/display. -->
  <include href="JATS-format1.ent.rng"/>
  <!-- FUNDING ELEMENTS -->
  <!--
    Elements that describe the sponsorship or
    open access
  -->
  <include href="JATS-funding1.ent.rng"/>
  <!-- LINK CLASS ELEMENTS -->
  <include href="JATS-link1.ent.rng"/>
  <!-- LIST CLASS ELEMENTS -->
  <include href="JATS-list1.ent.rng"/>
  <!-- MATH ELEMENTS -->
  <include href="JATS-math1.ent.rng"/>
  <!-- NLM CITATION ELEMENT -->
  <include href="JATS-nlmcitation1.ent.rng"/>
  <!-- PARAGRAPH-LEVEL ELEMENTS -->
  <include href="JATS-para1.ent.rng"/>
  <!-- PHRASE-LEVEL ELEMENTS -->
  <include href="JATS-phrase1.ent.rng"/>
  <!--
    BIBLIOGRAPHIC REFERENCE (CITATION)
    CLASS ELEMENTS
  -->
  <include href="JATS-references1.ent.rng"/>
  <!-- RELATED OBJECT ELEMENT -->
  <!--
    Defines the <related-object> element to
    describe a related object such as a
    related book or a dataset.
  -->
  <include href="JATS-related-object1.ent.rng"/>
  <!-- SECTION ELEMENTS -->
  <include href="JATS-section1.ent.rng"/>
  <!-- ============================================================= -->
  <!-- THE REST OF THE EXTERNAL MODULES INVOKED -->
  <!-- ============================================================= -->
  <!-- BITS EMBEDDED INDEX ELEMENTS MODULE -->
  <!--
    Element declarations the index elements
    which are embedded in the article 
    narrative.
  -->
  <include href="BITS-embedded-index2.ent.rng"/>
  <!-- BITS QUESTION AND ANSWER MODULE -->
  <!--
    Element declarations for BITS questions
    and answers (not complete tests, but used
    to put build quizzes and tests.
  -->
  <include href="BITS-question-answer2.ent.rng"/>
  <!-- ============================================================= -->
  <!-- THE REST OF THE EXTERNAL MODULES INVOKED -->
  <!-- ============================================================= -->
  <!-- MATHML SETUP MODULE -->
  <!-- Invoke the MathML modules -->
  <include href="JATS-mathml3-mathmlsetup1.ent.rng"/>
  <!-- XHTML TABLE SETUP MODULE -->
  <!--
    Set up the necessary Parameter Entity values
    and then invoke XHTML (HTML 4.0) table
    module
  -->
  <include href="JATS-XHTMLtablesetup1.ent.rng"/>
  <!-- SPECIAL CHARACTERS DECLARATIONS -->
  <!--
    Standard XML special character entities
    used in this DTD
  -->
  <!-- CUSTOM SPECIAL CHARACTERS DECLARATIONS -->
  <!--
    Custom special character entities created
    specifically for use in this DTD Suite
  -->
  <include href="JATS-chars1.ent.rng"/>
  <!-- NOTATION DECLARATIONS MODULE -->
  <!-- ============================================================= -->
  <!-- ============================================================= -->
  <!-- PARAMETER ENTITIES FOR ATTRIBUTE LISTS -->
  <!-- ============================================================= -->
  <!-- DTD VERSION -->
  <!--
    What version of this DTD was used to make
    the document instance under consideration.
    Note that this is a fixed value that should
    change every time the DTD changes versions or
    revisions.
  -->
  <define name="dtd-version">
    <optional>
      <attribute name="dtd-version" a:defaultValue="1.3d1">
        <value type="string" datatypeLibrary="">1.3d1</value>
      </attribute>
    </optional>
  </define>
  <!-- ARTICLE ATTRIBUTES -->
  <!--
    Attributes for the top-level element
    <article>
  -->
  <define name="article-atts">
    <ref name="jats-common-atts"/>
    <optional>
      <attribute name="article-type"/>
    </optional>
    <ref name="dtd-version"/>
    <optional>
      <attribute name="specific-use"/>
    </optional>
    <optional>
      <attribute name="xml:lang" a:defaultValue="en">
        <data type="NMTOKEN"/>
      </attribute>
    </optional>
    <ref name="XLINK.xmlns.attrib"/>
    <ref name="MATHML.xmlns.attrib"/>
    <ref name="ali.xmlns.attrib"/>
    <ref name="Schema.xmlns.attrib"/>
    <optional>
      <attribute name="xsi:noNamespaceSchemaLocation"/>
    </optional>
  </define>
  <!-- BACK ATTRIBUTES -->
  <!-- Attributes for the <back> element -->
  <define name="back-atts">
    <ref name="jats-common-atts"/>
  </define>
  <!-- BODY ATTRIBUTES -->
  <!-- Attributes for the <body> element -->
  <define name="body-atts">
    <ref name="jats-common-atts"/>
  </define>
  <!-- FRONT ATTRIBUTES -->
  <!-- Attributes for the <front> element -->
  <define name="front-atts">
    <ref name="jats-common-atts"/>
  </define>
  <!-- ============================================================= -->
  <!-- JOURNAL ARTICLE ELEMENTS -->
  <!-- ============================================================= -->
  <!-- ARTICLE MODEL (LIMITED) -->
  <define name="article-short-model">
    <ref name="front"/>
    <ref name="body"/>
    <optional>
      <ref name="back"/>
    </optional>
  </define>
  <!-- ARTICLE -->
  <!--
    The complete content of a journal article.
    Details at:
    http://jats.nlm.nih.gov/articleauthoring/tag-library/1.3d1/index.html?elem=article
  -->
  <define name="article">
    <element name="article">
      <ref name="article-attlist"/>
      <ref name="article-short-model"/>
    </element>
  </define>
  <define name="article-attlist" combine="interleave">
    <ref name="article-atts"/>
  </define>
  <!-- ============================================================= -->
  <!-- FRONT MATTER ELEMENTS -->
  <!-- ============================================================= -->
  <!-- FRONT MATTER MODEL -->
  <define name="front-model">
    <ref name="article-meta"/>
  </define>
  <!-- FRONT MATTER -->
  <!--
    The metadata concerning an article, such as
    the name and issue of the journal in which it
    appears and the name and author(s) of the
    article.
    Details at:
    http://jats.nlm.nih.gov/articleauthoring/tag-library/1.3d1/index.html?elem=front
  -->
  <define name="front">
    <element name="front">
      <ref name="front-attlist"/>
      <ref name="front-model"/>
    </element>
  </define>
  <define name="front-attlist" combine="interleave">
    <ref name="front-atts"/>
  </define>
  <!-- ============================================================= -->
  <!-- BODY ELEMENTS -->
  <!-- ============================================================= -->
  <!-- BODY MODEL -->
  <!--
    Content model for the Body (main textual
    content) of a journal article.
  -->
  <define name="body-model">
    <zeroOrMore>
      <ref name="para-level"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="sec-level"/>
    </zeroOrMore>
  </define>
  <!-- BODY OF THE ARTICLE -->
  <!--
    The main textual portion of the article that
    conveys the content.
    Details at:
    http://jats.nlm.nih.gov/articleauthoring/tag-library/1.3d1/index.html?elem=body
  -->
  <define name="body">
    <element name="body">
      <ref name="body-attlist"/>
      <ref name="body-model"/>
    </element>
  </define>
  <define name="body-attlist" combine="interleave">
    <ref name="body-atts"/>
  </define>
  <!-- ============================================================= -->
  <!-- BACK MATTER ELEMENTS -->
  <!-- ============================================================= -->
  <!-- BACK MATTER MODEL -->
  <!--
    Content model for the Back Matter (ancillary
    material such as appendices) of a journal
    article.
  -->
  <define name="back-model">
    <optional>
      <ref name="ack"/>
    </optional>
    <optional>
      <ref name="glossary"/>
    </optional>
    <zeroOrMore>
      <ref name="ref-list.class"/>
    </zeroOrMore>
    <optional>
      <ref name="app-group"/>
    </optional>
  </define>
  <!-- BACK MATTER -->
  <!--
    Ancillary or supporting material not included
    as part of the main textual content of a
    journal article, for example appendices and
    acknowledgments.
    Details at:
    http://jats.nlm.nih.gov/articleauthoring/tag-library/1.3d1/index.html?elem=back
  -->
  <define name="back">
    <element name="back">
      <ref name="back-attlist"/>
      <ref name="back-model"/>
    </element>
  </define>
  <define name="back-attlist" combine="interleave">
    <ref name="back-atts"/>
  </define>
</grammar>
<!-- ================== End Article Authoring DTD ================ -->
